#maps a {
  color: var(--red-one);
}

.content {
  background-color: black;
}

.maps-container {
  display: flex;
  justify-content: center;
}

.map-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  max-height: 700px;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}

.main-slide {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

.main-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 15%, transparent);
}

.main-slide.active {
  opacity: 1;
  z-index: 10;
}

.slide-content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 70%;
  height: 40%;
  z-index: 1;
  color: var(--white-one);
  display: flex;
  justify-self: center;
}

.slide-text {
  width: 50%;
}

.slide-text h2 {
  font-family: "Perfect Dark";
  font-size: calc(var(--super-size) * 0.8);
  letter-spacing: var(--smallest-size);
  margin-bottom: var(--normal-size);
}

.slide-text p {
  font-family: "Inter Bold";
  font-size: var(--normal-size);
}

.active-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-minimap {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  margin-top: -15px;
}

.slide-minimap img {
  position: absolute;
  width: 60%;
  height: 100%;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.main-slide.active h2,
.main-slide.active p,
.main-slide.active .slide-minimap img {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.main-slide.active h2 {
  animation-delay: 0.2s;
}

.main-slide.active p {
  animation-delay: 0.4s;
}

.main-slide.active .slide-minimap img {
  animation-delay: 0.5s;
}

.slider-arrows {
  width: 90%;
  position: absolute;
  bottom: 32%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
.arrow-prev {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0 50%,
    0 50%
  );
}

.arrow-next {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 50%,
    100% 50%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.slider-arrows button {
  background-color: var(--white-one);
  border: none;
  font-family: "Inter Bold";
  width: 60px;
  height: 50px;
  font-size: var(--largest-size);
  color: var(--purple-one);
  transition: 0.2s;
}

.slider-arrows button:hover {
  color: var(--red-one);
}

.slide-thumbnails {
  position: absolute;
  bottom: -50px;
  z-index: 11;
  display: flex;
  gap: var(--normal-size);
  width: 100%;
  height: 250px;
  padding-inline: 50px;
  box-sizing: border-box;
  overflow: auto;
  overflow-y: scroll;
  justify-content: start;
}

.slide-thumbnail {
  width: 220px;
  height: 150px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}

.slide-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 12%,
    100% 88%,
    90% 100%,
    10% 99%,
    0 88%,
    0 12%
  );
  user-select: none;
  pointer-events: none;
  cursor: grab;
}

.slide-thumbnail.active {
  filter: brightness(1);
}

.thumbnail-caption {
  position: absolute;
  inset: auto 10px 10px 10px;
  font-family: "Bruce Forever";
  font-size: calc(var(--normal-size) * 0.8);
  color: var(--white-one);
  filter: drop-shadow(3px 5px 6px rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
}

.line {
  max-width: 1300px;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    var(--white-one),
    transparent
  );
  animation: moveLine 2s linear infinite;
}

@keyframes moveLine {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 1024px) {
  .slide-minimap {
    justify-content: center;
  }

  .slide-minimap img {
    width: 75%;
  }

  .slide-thumbnails {
    justify-content: start;
  }
}

@media (max-width: 768px) {
  .slide-content {
    flex-direction: column;
    gap: var(--large-size);
    width: 100%;
    left: 0;
  }

  .slide-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide-text h2 {
    font-size: calc(var(--largest-size) * 1.1);
    margin-bottom: var(--small-size);
  }

  .slide-text p {
    font-size: calc(var(--small-size) * 1.2);
    width: 40%;
    text-align: center;
  }

  .slide-minimap {
    justify-content: center;
    width: 100%;
  }

  .slide-minimap img {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .slide-text h2 {
    font-size: calc(var(--largest-size));
  }

  .slide-minimap img {
    width: 50%;
  }

  .slide-text p {
    width: 50%;
  }

  .slider-arrows button {
    width: 50px;
    height: 40px;
    font-size: var(--large-size);
  }
}
